body {

	background-image: url("http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png");
	background-size:     cover;  
	height: 600px;                  
    background-repeat:   no-repeat;
    background-position: center center;
    padding-left: 10px;
    padding-left: 20px;
    padding-right: 20px;   

}

.keyboard-button {
    width: 60px;
    height: 60px;
    background-color: #092e47;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #e2eef1;
    position: relative;
    margin: .4%;
    vertical-align: middle;
    float: none;
    color: white;

}


h1 {
    font-family: 'Bangers', cursive;
    font-size: 400%;

}


.container { 
	position:relative; 
	bottom: 100px;
}

.imgA1 { 
	position:absolute;
	z-index: 3; 
	top: 180px;
	left: 100px;
} 
.imgB1 { 
	position:absolute; 
	top: 150px; 
	z-index: 1;
	height: 400px; 
} 

.container-fluid {
	padding-top:20px;
}